nav{
  display:grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: rgb(229, 221, 240);
  font-family: sans-serif;
  position:fixed;
  top:0;
  width:100%;
  padding-bottom: 2px;
  }
