<nav class="navbar navbar-expand bg-light">
<header class="d-flex flex-wrap align-items-center justify-content-md-between ">

  <div class="container-fluid">
     <div class="row align-items-center ">

      <div class="col-1"> </div>
      <div class="col-6"><app-header-logoap></app-header-logoap></div>




      <div class="col-5 col-sm-1"> </div>
      <div class="col-5 col-sm-3" style="text-align: right;" > <app-header-redes></app-header-redes> </div>
      <div class="col-5 col-sm-1"> <app-login></app-login> </div>




  </div>
</div>



</header>
</nav>


<div>
  <app-header-banner></app-header-banner>
</div>

