@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

h1 { color: purple; text-decoration: underline;font-family: 'Bebas Neue', cursive;}

h2 {font-family: 'Secular One', sans-serif;
font-size: 22px;}

p {font-family: 'Manrope', sans-serif;
font-size: 20px;}

.linea-izquierda{
border-left: thick solid purple;
height:100%;
position: relative;
}

 .linea-abajo {
border-bottom: thick solid purple;
width: 50%;
position: relative;
}

.linea-derecha{
border-right: thick solid purple;
height:100%;
position: relative;
}

.linea-perfil {
border-bottom: thick solid purple;
width: 100%;
position: relative;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
