<div class="container" width="100%">
  <div class="row">

     <div class="col-6">
          <div style="padding-top: 10%;"><h1>ACERCA DE MI</h1>
          </div>

          <div style="padding-left: 15%;">

            <p> {{usuario?.sobremi}} </p>

          </div>
     </div>

      <div class="col-6">
            <div style="transform: translateY(-70px); opacity: 1; text-align: right; ">
              <img src="{{usuario?.foto}}" alt="belenmarconi" />
            </div>
            <div style="transform: translateY(-60px); opacity: 1; text-align: right; ">

              <div><h2> {{usuario?.nombre}} {{usuario?.apellido}} </h2></div>
              <div><h2> {{usuario?.titulo}} </h2></div>

            </div>

            <div style="margin-inline-end: 25%;transform: translateY(-70px);">
                <div class="linea-derecha linea-perfil" style="text-align: right;">
                        <div style="padding-top:10%; margin-inline-end: 5% ; margin-bottom: 10%; ">

                      </div>
                </div>
            </div>
     </div>

   </div>
</div>
