<div class="container" width="100%" style="margin-top:5% ;">
  <div class="row">
      <div class="col-7 linea-abajo linea-izquierda">
            <div><h1>SKILLS</h1>
            </div>

            <div style="padding-left: 15%;">
              <div class="progress" style="margin-bottom: 2%; height:30px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="80" aria-valuemax="100"></div>
                <p>FRONTEND</p>
              </div>
              <div class="progress" style="margin-bottom: 2%; height:30px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                <p>BACKEND</p>
              </div>
              <div class="progress" style="margin-bottom: 2%; height:30px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                <p> PROACTIVIDAD </p>
              </div>
              <div class="progress" style="margin-bottom: 2%; height:30px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                <p>INGLES</p>
              </div>
              <div class="progress" style="margin-bottom: 2%; height:30px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                <p>TRABAJO EN EQUIPO</p>
              </div>
            </div>
       </div>
  </div>
</div>
