<div class="container" width="100%" style="margin-top:5% ;">
  <div class="row">
          <div class="col-5"> </div>
          <div class="col-7 linea-abajo linea-derecha">
            <div style="text-align: right;">


              <h1> PROYECTOS </h1>

            <div style="padding-left: 15%; ">

              <div class="row" style="margin-bottom: 5%;">
                <div class="row align-items-center">
                 <h2>SEGMENTO EN COSTRUCCIÓN</h2>
                 <p>Me estoy iniciando en programación y el desarrollo de páginas web. Este es mi primer proyecto.</p>
                 Esta sección junto con este proyecto irán creciendo a medida que avance en mi carrera como Developer.
                </div>

                <div>
                  <p>  </p>

                  </div>
               </div>
            </div>
       </div>
  </div>
</div>
